{% extends "base.html" %}

{% block content %}


    <div class="register-box hold-transition register-page">


        <div class="register-box-body">
{#            <h3 class="login-box-msg" style="color: rgba(15,123,159,0.82)">Welcome Back</h3>#}
            <p class="login-box-msg">Profile</p>
            {{ errors_message }}

            {{ forms.errors }}
            <form action="/UserCenter/profile/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <p><lable>{{ forms.user_name.label }}</lable></p>
                    {{ forms.user_name }}

                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <p><lable>{{ forms.email.label }}</lable></p>
                    {{ forms.email }}

                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <p><lable>{{ forms.password.label }}</lable></p>
                    {{ forms.password }}

                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <p><lable>ReInput Password</lable></p>
                    <input type="password" name="repassword" class="form-control" placeholder="ReInput Password" maxlength="512" required="" id="id_repassword">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <p><lable>{{ forms.pronouns.label }}</lable></p>
                    {{ forms.pronouns }}

                    <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <p><lable>{{ forms.scoresaber.label }}</lable></p>
                    {{ forms.scoresaber }}

                    <span class="glyphicon glyphicon-link form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <p><lable>{{ forms.skillset.label }}</lable></p>

                    {{ forms.skillset }}

                    <span class="glyphicon glyphicon-inbox form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <p><lable>{{ forms.profile_picture.label }}</lable></p>
                    <small>The original picture will be overwritten after uploading new picture</small>

                        <div class="row">
                    {% for foo in forms.instance.profile_picture.all %}

                            <div class="col-xs-6"><img src="{{ foo.picture.url }}" alt="" class="img-responsive"></div>

                    {% endfor %}
                        </div>
                    {{ forms.profile_picture }}

                    <span class="glyphicon glyphicon-picture form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    
                    <p><lable>{{ forms.discord.label }}</lable></p>
                    {{ forms.discord }}

                    <span class="glyphicon glyphicon-cloud form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-12">


                        <button type="submit" class="btn btn-primary btn-block btn-flat center-block">Save</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>




        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

{% endblock %}


{% block bottom %}
<script>

function refresh_captcha_img() {
    $.ajax({
        url : '/UserCenter/refresh_captcha_img/',
        type: "POST",
        data : {
            'csrfmiddlewaretoken': "{{ csrf_token }}",

        },
        dataType : "text",
        success: function( data ){
            // alert(data);
            if (data != 0){
                // alert(data);
                $("#captcha_img")[0].src = data;
                $("#captcha_img_url_id").val(data);

            }
        }
    });
}
</script>
{% endblock %}